<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>
        <%=content %>
    </title>
</head>

<body>

    <header>
        <h1>
            <%=content %>
        </h1>
    </header>

    <main>
        <section id="brainContainer">
            <div class="brainContainerItems">
                <div class="inputsBlock">
                    <textarea name="textBox" id="textBox" placeholder="Введіть текст..."></textarea>
                    <button id="check" onclick="sendText()">Класифікувати</button>
                    <div class="recomendedBlock">
                        <div class="recomendedItem" onclick="toTextarea(this)">Cats are stupid.</div>
                        <div class="recomendedItem" onclick="toTextarea(this)">Cats are not stupid.</div>
                        <div class="recomendedItem" onclick="toTextarea(this)">the world is cold ❄️
                            my cat is warm 🔥</div>
                        <div class="recomendedItem" onclick="toTextarea(this)">We’ll be back next week with a new
                            episode! In the meantime, may your cats be merry and bright! 😺🎄</div>

                        <div class="recomendedItem" onclick="toTextarea(this)">Electricity is only responsible 25% of
                            greenhouse gas emissions each year. To prevent the worst effects of climate change, we have
                            to address the other 75%:</div>
                        <div class="recomendedItem" onclick="toTextarea(this)">I recently visited a high school that
                            has gone from one of Chicago’s worst to one of its best.</div>
                        <div class="recomendedItem" onclick="toTextarea(this)">I had a great time chatting with a
                            fellow tech enthusiast, @MKBHD. We talked about electric cars, AI, and how tech can give
                            back.</div>
                    </div>
                </div>
                <div class="resultBlock">
                    <span id="startText"><----Введіть текст у поле зліва</span>
                    <ul id="resultList"></ul>
                </div>
            </div>
        </section>
    </main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="./js/script.js"></script>

</html>